/************/
/*   預設   */
/************/

:root {
  --def-fs: 62.5%;
  --ff: 'Segoe UI', sans-serif;
  --color-primary: #343a40;
  --color-primary-darker: #333;
  --color-primary-lighter: #555;

  /* -------- 復古 KBParadise VX80 Olivette Neo TKL配色 -------- */
  --key-border-radius: 0.6rem;

  --box-shadow-keycaps-value: inset 0 -0.2rem 0 0.3rem;
  --box-shadow-keycaps-hover-value: inset 0 -0.1rem 0 0.2rem;

  --box-shadow-keycaps: var(--box-shadow-keycaps-value)
    var(--color-keycaps-shadow);
  --box-shadow-keycaps-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow);

  --box-shadow-keycaps-accent: var(--box-shadow-keycaps-value)
    var(--color-keycaps-shadow-accent);
  --box-shadow-keycaps-accent-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-accent);

  --box-shadow-keycaps-pressed: var(--box-shadow-keycaps-value)
    var(--color-keycaps-shadow-pressed);
  --box-shadow-keycaps-pressed-hover: var(--box-shadow-keycaps-hover-value)
    var(--color-keycaps-shadow-pressed);

  --color-keyboard: #3c3e4a;
  --color-keyboard-border: #303642;

  --color-keycaps-legends: #555;
  --color-keycaps-bg: #f8f9fa;
  --color-keycaps-shadow: #adb5bd;

  --color-keycaps-legends-accent: #555;
  --color-keycaps-bg-accent: #e2e3e6;
  --color-keycaps-shadow-accent: #97a0a8;

  --color-keycaps-legends-pressed: #2f3674;
  --color-keycaps-bg-pressed: #a4a9b0;
  --color-keycaps-shadow-pressed: #7f8489;

  /* 背景 */
  --color-bg: linear-gradient(
    45deg,
    #e9ecef,
    #ced4da,
    #adb5bd,
    #eaebf1,
    #c1c3d5
  );

  /* 字體顏色 */
  --color-bg-title: linear-gradient(
    45deg,
    #14181c,
    #506070,
    #2e3235,
    #506070,
    #2e3235,
    #506070,
    #14181c
  );

  --color-bg-toggle: linear-gradient(45deg, #4dabf7, #228be6, #1c70c0, #3c56da);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 使用者瀏覽器字體大小設定的百分比 */
  font-size: var(--def-fs);
  overflow-x: hidden;
}

body {
  font-family: var(--ff);
  line-height: 1;
  font-weight: 400;
  color: var(--color-primary);
}

/*********************/
/* 通用可重複使用組件 */
/*********************/

.heading-primary {
  font-weight: 700;
  color: var(--color-primary-darker);
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.paragraph {
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  padding-top: 10px;
}

.link:hover,
.link:active {
  color: var(--color-primary-lighter);
}

/**********/
/* 設定類 */
/**********/

.center-text {
  text-align: center;
}
