/* rem 和 em 在媒體查詢中不依賴 html 字體大小 1rem = 1em = 16px */

/***********************************/
/* 小於 1392px (較小的桌上型電腦) */
/***********************************/
@media (max-width: 87em) {
  html {
    font-size: 56.25%;
  }
}

/******************************************************/
/* 小於 1264px (較大的筆記型電腦和較小的桌上型電腦) */
/******************************************************/
@media (max-width: 79em) {
  html {
    font-size: 50%;
  }
}

/************************************************************/
/* 小於 1056px (中型筆記型電腦和小型桌上型電腦) */
/************************************************************/
@media (max-width: 66em) {
  html {
    font-size: 43.75%;
  }
}

/******************************************************/
/* 小於 928px (較小的筆記型電腦和較小的桌上型電腦) */
/******************************************************/
@media (max-width: 58em) {
  html {
    font-size: 37.5%;
  }
}

/*************************/
/* 小於 784px (平板電腦) */
/*************************/
@media (max-width: 49em) {
  html {
    font-size: 31.25%;
  }
}

/*******************************/
/* 小於 640px (小型平板電腦) */
/*******************************/
@media (max-width: 40em) {
  html {
    font-size: 25%;
  }
}

/********************************/
/* 小於 512px (手機) */
/********************************/
@media (max-width: 32em) {
  html {
    font-size: 18.75%;
  }
}

/**************************************/
/* 小於 384px (較小的手機) */
/**************************************/
@media (max-width: 24em) {
  html {
    font-size: 16%;
  }
}
