:root {
    --primary-color: #e6304a;
}

html, body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

/* 內容區 flex 對齊 */
.content {
  flex: 1 0 auto;
}

/* 滑鼠區 */
#mouse-container{
    background-color: #fff;
    text-align:center;
    margin: auto;
    width: 100%;
    position: relative;
    border: dotted 3px #ccc;
    user-select: none;
}
/* 滑鼠圖片 */
#mouse {
    width: 100%;
    max-width:450px;
}

/* 按下時 */
.active{
    opacity:0.7;
}
/* 按下後 */
.visited{
    opacity:0.3;
}
/* 無按下初始隱藏 */
.non-active{
    opacity:0.0;
}

/* 滾輪往前 */
.st1, .st3{
    fill: var(--primary-color);
    /* 雷蛇綠 */
    /* fill:#32CD32; */
}
.st2{
    fill:none;
    stroke:#e6304a;
    stroke-miterlimit:10;
}
@media (max-width:1367px){
    #mouse {
        max-width:350px;
    }
}














